body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0057b3;
}

#testId {
    display: none;
}

#testList {
    list-style: none;
    padding: 0;
}

#testList li {
    margin: 10px 0;
}

.success-msg {
    display: none;
    position: fixed;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    background-color: /*#29aba4*/ #0057b3cc;
    color: #fff;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content p {
    margin-bottom: 20px; /* 段落の間に適度な余白を設定 */
}

#credits-popup .popup-content p:last-of-type {
    margin-bottom: 30px; /* 最後の段落だけに多めの余白を追加 */
}

#credits-popup .popup-content small {
    display: block;
    margin-top: 20px; /* small要素の前に余白を追加 */
}

.popup-content p a {
    text-decoration: none;
    color: #3ea6ff;
}

.popup-content h4 {
    margin-top: 5px;
}

#close-popup {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer button {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

footer button a{
    color: white;
}